.master__top-wrap {
    display: flex;
    align-items: center;
    font-size: 17px;
    height: 60px;
    padding: 0 10px;
}

.master__content-wrap {
    display: flex;
}

.master__content--left {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.master__content--right {
    flex: 1.4;
    padding-left: 20px;
}

.master__content--right * {
    text-decoration: none;
    color: #9ba1e2;
}