.search__top-wrap {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 17px;
    padding: 5px 10px;
}

.search__search-box {
    margin-top: 10px;
}