.search__wrapper {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.search__icon {
    padding: 8px;
}

.search__input {
    width: 100%;
}

