.chip {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    background-color: #d7dae2;
    margin: 0 5px;
    max-width: 200px;
    overflow: hidden;
    cursor: pointer;
    height: 34px;
    box-sizing: border-box;
}

.chipImage,
.chipClose,
.chipIcon {
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2px;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

.chip-text {
 overflow: hidden;
}

