.popular__top-wrap {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 17px;
}

.popular__content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.popular__top--right * {
    text-decoration: none;
    color: #999;
}

.popular__content--top {
    flex: 2;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.popular__content--bottom {
    flex: 1;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}