.scenery {
    display:flex;
    flex-direction: column;
    margin: 10px 0;
}

.scenery__top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    height: 60px;
    padding: 0 20px;
}

.scenery__top-wrap__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    height: 100%;
}

.scenery__top-wrap__right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.scenery__top-wrap__right * {
    text-decoration: none;
    color: #999;
}

.updated {
    color: #9ba1e2;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-top: 5px;
}

.scenery__bottom-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

.scenery__bottom-wrap::-webkit-scrollbar {
    display: none;
}